*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header{
    height: 80px;
    width: 100%;
}

main{
    height: calc(100vh - 80px);
    width: 100%;
    background-color: blueviolet;
}

h1{
    font-size: 30px;
}

footer{
    height: 70px;
    width: 100%;
}